* {
    margin: 0;
    padding: 0;
}

header {
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 20px
}

header h2 {
    border: 2px solid black;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

header h2:hover {
    background-color: black;
    color: whitesmoke;
}

#cardContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}

#cardContainer .card {
    border: 1px solid grey;
    width: 400px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
img {
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#content {
    display: flex;
    justify-content: space-between;
    padding: 14px;
}